@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  margin: 0;
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.phoneBook {
  color: rgb(83, 83, 83);
  padding-top: 3px;
  font-size: 15px;
}

.app{
  padding-left: 10px;
}
.error {
  color: red;
  background: rgb(235, 234, 234);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.success{
  color: green;
  background: rgb(235, 234, 234);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

}
.hidden{
  display: none;
}
